//VARIABILI COLORI
$carrot-orange: #F49400;
$sky-blue: #7FCDE5;
$tomatoe-red: #FE4A49;
$yellow-green: #9BC53D;
$evergreen-black: #00241B;

//FONT FAMILY
$font-main: "Quicksand", sans-serif;
$font-size-base: 16px;